.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

/*homepage layout*/
body {
  margin-left: 200px;
}

/*elements*/
.code {
  background-color: yellow;
  width: 75px;
}


/*layout nav bar*/

nav {
  float: left;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #08c;
  width: 150px;
  height: 100%;
  text-align: left;
  border-right: rgb(215,221,219);
  margin-right: 10px;  
}

ul {
  padding: 0px;
}

li {
  list-style-type: none;
  border-bottom: 1px solid rgb(215,221,219);
  margin: 10px 0px;
}

li a {
  text-decoration: none;
  color: white;
  padding-left: 10px;
}

li a:hover {
  color: yellow;
}

.brand a {
  font-size: 20px;
  padding-left: 10px;
  color: white;; 
  text-decoration: none;
}

/*sign in form*/
h1  {
  color: #08c;
}
