<div class="entry-form">
  
<% if @errors  %>
  <% @errors.each do |error| %>
    <%= error  %>
  <% end %>
<% end %>

<% if current_user  %>
  <h1>Hello there, <%= current_user.name %>!</h1>
<% else %>
  <h2>Sign up</h2>
    <form class="sign-up" action="/user/create" method="POST">
      <label for="name">Name:</label>
      <input type="text" id="name" name="user[name]" placeholder="name">
      <label for="email">Email:</label>
      <input type="text" name="user[email]" placeholder="user@email.com">
      <!-- <label for="group">Group:</label>
      <input type="text" name="user[group]" placeholder="enter group name"> -->
      <label for="password">Password:</label>
      <input type="password" name="user[password]" placeholder="enter password">
      <input type="submit" value="Sign up">
    </form> 

  <h2>Sign in</h2>
    <form class="sign-in" action="/user/login" method="POST">
      <label for="name">Email:</label>
      <input type="text" id="name" name="user[email]" placeholder="user@email.com">
      <label for="password">Password:</label>
      <input type="password" name="user[password]" placeholder="enter password">
      <input type="submit" value="Sign in">
    </form>

    <h1>Be a Cook. Join a Kitchen.</h1>
<% end %>

</div>

