<h1>Submit a new idea</h1>

<form action='/idea/create' method='POST'>
  <select name="idea[group_id]">
    <% @groups.each do |group| %>
      <option value="<%= group.id %>"><%= group.name %></option>
    <% end %>
  </select>
  <br>
  <label for="idea_input">Enter your idea:</label>
  <br>
  <textarea cols="50" rows="20" id="idea_input" name="idea[name]"></textarea>
  <br>
  <input class="new-idea-button" type="submit" value="add idea!">
</form>

